li {
  list-style: none;
}
* {
  text-align: center;
}
#AddBookForm {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}
#findBookInputButton {
  text-align: left;
  margin-right: 8px;
  border-radius: 8px;
}
#searchButton {
  display: inline-block;
}
.AddBookFieldset {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  padding: 0;
  margin-top: 25px;
  border: 3px solid black;
  padding: 3px;
  margin-bottom: 15px;
}
legend {
  font-weight: bold;
}
#resultsList {
  padding: 0;
  list-style-type: none;
}
.bookResult {
  width: 96%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  color: lavenderblush;
  display: flex;
}
.searchImage {
  width: 30%;
  padding: 5px;
  border: none;
  outline: none;
  margin-top: auto;
  margin-bottom: auto;
}
.selected-book {
  border: 10px solid darkslateblue;
  border-style: outset;
}
img {
  border: 1px solid lavenderblush;
}

#bookSubmitButton {
  width: 20%;
  height: 40px;
  margin-top: 20px;
}
#description {
  display: none;
}
#resultsInfo {
  flex-direction: column;
  width: 100%;
  text-align: right;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.foundInfo {
  margin: 0;
  padding: 0;
}
#foundTitle {
  font-weight: bold;
}
#selectButton {
  display: none;
}
#smallSelectButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  display: flex;
  width: 100%;
  height: 100%;
}

.detailSelector {
  display: flex;
  height: 60%;
  flex-direction: column;
}
#startOnSelector,
#finishedOnSelector,
#currentPageSelector {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
.detailSelector {
  display: flex;
  flex-direction: row;
}
.detailLabel {
  display: block;
  color: lavenderblush;
}
.smallDetailSelector {
  display: inline-block;
  width: 50%;
}
#descriptionShell {
  overflow: scroll;
  width: 100%;
  height: 100px;
  display: none;
}
.findBookBreak {
  width: 0;
}
#resultsFlexContainer {
  margin-left: auto;
  margin-right: auto;
}
#findBookLegend,
h2,
#bookDetailsLegend,
.detailsLabel {
  color: lavenderblush;
}

/* Media queries */

@media screen and (min-width: 767px) {
  #findBookLegend,
  #bookDetailsLegend {
    font-size: 35px !important;
  }

  #searchButton {
    height: 50px;
    width: 30%;
  }
  #findBookInputButton {
    margin: 0;
    padding: 0;
  }
  #findBookContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #searchButton,
  #bookSubmitButton {
    font-size: 25px !important;
    height: 50px;
  }
  .detailLabel {
    font-size: 25px !important;
  }
  #startOnSelector,
  #currentPageSelector,
  #findBookInputButton,
  #pageSelect,
  #finishedOnSelector {
    font-size: 25px !important;
    height: 50px;
  }
  #resultsInfo {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px !important;
    margin-bottom: 10px;
    height: 50%;
  }
  #descriptionShell {
    display: block;
    margin-bottom: 10px;
  }
  #resultsFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 240px;
    font-size: 20px !important;
  }
  .bookResult {
    height: 250px;
  }
  #foundDescription {
    padding: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    height: 100%;
  }
  .findBookBreak {
    display: none;
  }
}
@media screen and (min-width: 1023px) {
  #descriptionShell {
    overflow: auto;
  }
  .searchImage {
    width: initial;
  }
}
