.noteContentSelector {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#addNoteForm {
  width: 90%;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
.addNoteButton,
#addNoteSubmitButton {
  width: 25%;
  height: 10%;
  margin: 20px;
}
#bookInfoContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#bookTextContainer {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}
#editButton,
#cancelEditButton {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.currentpageInput,
.startedonInput,
.finishedonInput {
  width: 50%;
}
.currentpageInput {
  text-align: left;
}
#patchBookForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.labelAndInput {
  display: flex;
  justify-content: space-around;
}
.fullBookImage {
  width: 35%;
  margin-top: auto;
  margin-bottom: auto;
}
#saveAndDeleteButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#bookInfoHeader {
  margin: 0;
}
#noteContent {
  text-align: left !important;
  padding: 8px;
}
#upcomingExtendedInfo {
  display: flex;
  justify-content: space-evenly;
}
#upcomingExtendedInfo {
  padding: 8px;
}
#descriptionParagraph,
#upcomingPicture {
  margin: 8px;
  /* width: 40%; */
  margin-top: auto;
  margin-bottom: auto;
}
#descriptionParagraph {
  text-align: right !important;
}
#descriptionContainer {
  height: 200px;
  overflow: scroll;
}
.noteInput {
  width: 45%;
}
#titleSelector,
#dateSelector {
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
}
@media screen and (min-width: 767px) {
  .labelAndInput {
    width: 100%;
    justify-content: flex-start;
  }
  #patchBookForm {
    width: 100%;
  }
  #bookTextContainer {
    width: 100%;
    align-content: center;
  }
  #saveButton,
  #deleteButton {
    height: 50px;
    width: 45%;
  }
  #cancelEditButton,
  #editButton {
    height: 50px;
    width: 100%;
  }
  .currentpageInput,
  .startedonInput,
  .finishedonInput {
    margin-left: auto;
    margin-right: auto;
  }
  .inputLabel {
    width: 40%;
    text-align: left;
  }
  #addNoteButton {
    width: 90%;
    height: 50px;
  }
  #descriptionParagraph {
    font-size: 20px;
  }
}

@media screen and (min-width: 1023px) {
  .bookAccordion {
    width: 60% !important;
  }
  #thumbnailPicture {
    width: 12% !important;
  }
  .fullBookImage {
    width: 15% !important;
  }
  #descriptionContainer {
    overflow: auto;
  }
}

@media screen and (min-width: 1300px) {
  #thumbnailPicture {
    width: 8% !important;
  }

  #thumbnailPicture {
    display: none !important;
  }
  .extenderButton {
    display: none;
  }
  #headerTextDisplay {
    margin-left: 20%;
    border-bottom: none;
  }
  #noteContent {
    font-size: 30px !important;
  }
}
