.mainPage {
  width: 100%;
  height: 100%;
  background-color: rgb(245, 202, 121);
}
.tabTitle {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bookAccordion {
  background-color: darkslateblue;
  color: lavenderblush;
  border-radius: 15px;
  border: 2px solid lavenderblush;
}
.noteAccordion {
  border-radius: 15px;
}
