* {
  box-sizing: border-box;
}

.selected {
  background-color: mediumslateblue !important;

  border-bottom: 1px solid mediumslateblue;
  outline: 0;

  /* border-bottom: 1px solid rgb(245, 202, 121); */
}
.selected:focus {
  text-decoration: none;
  outline: 0;
  border-bottom: 1px solid mediumslateblue;
}
.selected:hover {
  outline: 0;
  border-bottom: 1px solid mediumslateblue;
  text-decoration: none;
}

button:focus {
  outline: 0 !important;
}
.not-selected {
  background-color: mediumpurple;
  border-bottom: 1px lavenderblush !important;
  color: rgb(235, 205, 210);
  border-top: 1px solid rgb(235, 205, 210);
  border-right: 1px solid rgb(235, 205, 210);
  border-left: 0;
}
#upcomingButton {
  border-left: 1px solid rgb(235, 205, 210);
}
.tab-button {
  outline: none;
  width: 25%;
  margin: 0px;
  height: 50px;
  border-radius: 20px 20px 0px 0px;
  -webkit-appearance: none;
  color: lavenderblush;
}

#tabBorder {
  background-color: darkslateblue;
}
#appTitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: darkslateblue;
}
#logoutButton {
  position: absolute;
  right: 0;
  top: 0;
}
#appTitle {
  color: lavenderblush;
}

@media screen and (min-width: 767px) {
  #appTitle {
    font-size: 50px;
  }
  .tab-button {
    font-size: 25px;
  }
  #logoutButton {
    width: 100px;
    height: 40px;
  }
}

@media screen and (min-width: 1300px) {
  #appTitle {
    font-size: 80px;
  }
}
