.inputCombo {
  display: flex;
  flex-direction: column;
}
.signUpForm {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 50px;
  font-size: 25px;
}

.loginLabelandInput {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
  width: 100%;
}
#loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
#registerOptions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.registerFormButton {
  width: 95%;
  height: 50px;
  font-size: 30px;
  background-color: mediumseagreen;
  color: white;
  border: 0;
}
.registerFormButton:active {
  background-color: rgb(40, 159, 93);
}
#Or {
  margin-top: auto;
  margin-bottom: auto;
}
.welcomeLegend {
  font-size: 40px;
}
#welcomeHeader {
  font-size: 50px;
  margin: 20px;
}
#welcomeParagraph {
  font-size: 20px;
}
