* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
button:hover,
select:hover {
  cursor: pointer;
  /* background-color: lavenderblush; */
  /* background-color: rgb(28, 21, 73); */
  background-color: lavenderblush !important;
  color: darkslateblue;
}
.loader {
  border: 16px solid lavenderblush;
  border-top: 16px solid darkslateblue;
  border-bottom: 16px solid darkslateblue;
  color: lavenderblush;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}
fieldset {
  background-color: mediumslateblue;
  border: 1px solid black;
}
button,
select {
  border-radius: 8px;
  background-color: mediumslateblue;
  border: 2px solid lavenderblush;
  color: lavenderblush;
}
button:active {
  background-color: rgb(28, 21, 73);
}
#searchButton,
#pageSelect,
#bookSubmitButton {
  background-color: darkslateblue;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
