.bookAccordion {
  border: 2px solid black;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.noteAccordion {
  border: 1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bookTitle {
  display: inline-block;
}

.accordionTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  height: 100px;
}

.accordionNoteTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  height: 50px;
}

.extenderButton {
  width: 10%;
  font-size: 150%;
  text-align: center;
  padding: 0;
}
.moveBookButton,
.deleteNoteButton {
  -webkit-appearance: none;
  border: 1px solid gray;
  padding: 5px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  text-align: center;
}
.deleteNoteButton {
  height: 100% !important;
}
#headerDisplay {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#thumbnailPicture {
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  margin: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.accordionAuthor,
.bookTitle {
  margin: 0;
}
#headerTextDisplay {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-evenly;
}
.moveOption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.hidden {
  display: none;
}

.noteHeaderDisplay {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100% !important;
}
